.about-photos {
  min-height: 350px;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-height: 350px;
  }

  @media (min-width: $desktop-width) {
    min-height: 500px;
  }
}

.about-photos__image-triangle {
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
  background: url("../../../img/bg-intro-triangle-mobile.svg");
  height: 27px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background: url("../../../img/bg-intro-triangle-tablet.svg");
    height: 58px;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/bg-intro-triangle-desktop.svg");
    height: 58px;
    background-repeat: no-repeat;
  }
}

.about-photos__title {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 30px;
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    margin-bottom: 26px;
  }
}

.about-photos__description {
  max-width: 270px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 430px;
  }
}

.about-photos__image {
  background: url("../../../img/bg-back-mobile@1x.jpg");
  width: 100%;
  height: 160px;
  margin-bottom: 40px;
  background-position: bottom;
  position: relative;

  @media (min-width: $tablet-width) {
    background: url("../../../img/bg-back-tablet@1x.jpg");
    height: 290px;
    background-position: bottom;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    height: 300px;
    margin-bottom: 100px;
    background-position: bottom;
  }
}

.text-sedona-svg {
  width: 229px;
  height: 39px;
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    width: 458px;
    height: 78px;
    margin-top: 90px;
  }

  @media (min-width: $desktop-width) {
    width: 461px;
    height: 80px;
    margin-top: 100px;
  }
}

.all-photos {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 75px;
  }

}

.all-photos__about-author {
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    background: $inputs-bg-color;
    position: relative;
    padding: 20px 0 0 20px;
    height: 60px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: -80px;
    background: rgba($color: #000000, $alpha: 0.3);
    color: #ffffff;
    padding: 20px 0 0 0;
  }
}

.all-photos__comment {
  text-transform: uppercase;
  display: block;
}

.all-photos__author {
  margin: 10px 0 10px 0;

  @media (min-width: $tablet-width) {
    margin: 8px 0 10px 0;
  }
}

.all-photos__likes {
  display: flex;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    align-items: center;
  }
}

.all-photos__block {
  border-top: 1px #e5e5e5 solid;
  padding-top: 22px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    border-top: none;
    margin-bottom: 0;
    padding-top: 0;
    flex-basis: 33.3%;
  }

  &:last-child {
    border-bottom: 1px #e5e5e5 solid;
    padding-bottom: 22px;

    @media (min-width: $tablet-width) {
      border-bottom: none;
      padding-bottom: 22px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 0;
    }
  }
}

.all-photos__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: inherit;
  }
}

.all-photos__block-sunset {
  @media (min-width: $tablet-width) {
    flex-basis: 100%;
  }
}

.sunset-about-author {
  @media (min-width: $tablet-width) {
    max-width: 628px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    padding-left: 12px;
  }
}

.cactus-about-author {
  padding-left: 0;

  @media (min-width: $tablet-width) {
    padding-left: 13px;
  }
}


.sunset-likes {
  @media (min-width: $tablet-width) {
    right: 19px;
  }

  @media (min-width: $desktop-width) {
    right: 13px;
  }
}


.roads-likes {
  @media (min-width: $tablet-width) {
    right: 35px;
  }
}

.bridge-likes {
  right: 21px;
}


.all-photos-container {
  @media (min-width: $tablet-width) {
    max-width: 650px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: auto;
  }
}

.all-photos__svg {
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }
}

.all-photos__svg path {
  fill: #b2b2b2;

  @media (min-width: $desktop-width) {
    fill: #ffffff;
  }
}


.sunset-image {
  background: url("../../../img/photo-sunset-mobile@1x.jpg") center center no-repeat;
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    background: url("../../../img/photo-sunset-tablet@1x.jpg") center center no-repeat;
    width: 648px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/photo-sunset-desktop@1x.jpg") center center no-repeat;
    width: 100%;
    height: 400px;
    background-size: cover;
  }
}

.cactus-image {
  background: url("../../../img/photo-cactus-mobile@1x.jpg") center center no-repeat;
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    background: url("../../../img/photo-cactus-tablet@1x.jpg") center center no-repeat;
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/photo-cactus-desktop@1x.jpg");
    width: 100%;
    background-size: cover;
  }
}

.roads-about-author {
  @media (min-width: $tablet-width) {
    background: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    background: rgba($color: #000000, $alpha: 0.3);
    padding-left: 19px;
  }
}

.brigde-about-author {
  @media (min-width: $tablet-width) {
    padding-left: 22px;
  }
}

.all-photos__block-bridge {
  @media (min-width: $desktop-width) {
    flex-basis: 392px;
  }
}

.all-photos__block-roads {
  @media (min-width: $desktop-width) {
    flex-basis: 397px;
  }
}

.roads-image {
  background: url("../../../img/photo-roads-mobile@1x.jpg") center center no-repeat;
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    background: url("../../../img/photo-roads-tablet@1x.jpg") center center no-repeat;
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/photo-roads-desktop@1x.jpg");
    width: 100%;
    background-size: cover;
  }
}

.bridge-image {
  background: url("../../../img/photo-bridge-mobile@1x.jpg") center center no-repeat;
  width: 280px;
  height: 280px;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background: url("../../../img/photo-bridge-tablet@1x.jpg");
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/photo-bridge-desktop@1x.jpg");
    width: 100%;
    background-size: cover;
  }
}

.doubts__video {
  background: url("../../../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;

  @media (min-width: $tablet-width) {
    background: url("../../../img/video-tablet@1x.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/video-desktop@1x.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
  }
}

.doubts-container {
  @media (min-width: $tablet-width) {
    max-width: 650px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 800px;
    margin: auto;
  }
}
