.about-photos {
  height: 340px;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    min-height: 500px;
  }
}

.about-photos__image-triangle {
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
  background: url("../../../img/bg-intro-triangle-mobile.svg") no-repeat;
  height: 27px;
  background-position: center;

  @media (min-width: $tablet-width) {
    background: url("../../../img/bg-intro-triangle-tablet.svg") no-repeat;
    height: 58px;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/bg-intro-triangle-desktop.svg") no-repeat;
    height: 58px;
    background-position: center;
  }
}

.about-photos__title {
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
    font-size: 30px;
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    margin-bottom: 24px;
  }
}

.about-photos__description {
  max-width: 270px;
  margin: 0 auto;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    max-width: 430px;
  }
}

.about-photos__image {
  background: url("../../../img/bg-back-mobile@1x.jpg");
  width: 100%;
  height: 157px;
  margin-bottom: 42px;
  background-position: bottom;
  position: relative;

  @media (min-resolution: $retina-dppx) {
    background: url("../../../img/bg-back-mobile@2x.jpg");
    background-size: cover;
    background-position: bottom;
  }

  @media (min-width: $tablet-width) {
    background: url("../../../img/bg-back-tablet@1x.jpg");
    height: 288px;
    background-position: bottom;
    margin-bottom: 40px;
    background-size: cover;
  }

  @media (min-width: $tablet-width) and (min-resolution: $retina-dppx) {
    background: url("../../../img/bg-back-tablet@2x.jpg");
    background-size: cover;
    background-position: bottom;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    height: 300px;
    margin-bottom: 100px;
    background-position: bottom;
  }

  @media (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
    background: url("../../../img/bg-back-desktop@2x.jpg");
    background-size: cover;
    background-position: bottom;
  }
}

.text-sedona-svg {
  width: 229px;
  height: 39px;
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    width: 456px;
    height: auto;
    margin-top: 95px;
  }

  @media (min-width: $desktop-width) {
    width: 461px;
    height: 80px;
    margin-top: 100px;
  }
}

.all-photos {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 87px;
  }
}

.all-photos__about-author {
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    background: $inputs-bg-color;
    position: relative;
    padding: 20px 0 0 20px;
    height: 60px;
    margin-top: -3px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -83px;
    background: rgba($color: #000000, $alpha: 0.3);
    color: #ffffff;
    padding: 20px 0 0 0;
  }
}

.all-photos__comment {
  text-transform: uppercase;
  display: block;
}

.all-photos__author {
  margin: 9px 0 10px 0;

  @media (min-width: $tablet-width) {
    margin: 8px 0 10px 0;
  }
}

.all-photos__likes {
  display: flex;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    right: 31px;
  }
}

.all-photos__block {
  padding-top: 15px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    border-top: none;
    margin-bottom: 0;
    padding-top: 0;
    flex-basis: 33.3%;
  }

  &:last-child {
    padding-bottom: 22px;

    @media (min-width: $tablet-width) {
      padding-bottom: 22px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 0;
    }
  }
}

.all-photos__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: inherit;
  }
}


.all-photos__block-sunset {
  @media (min-width: $tablet-width) {
    flex-basis: 100%;
  }
}

.sunset-about-author {
  @media (min-width: $tablet-width) {
    max-width: 628px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    padding-left: 12px;
  }
}

.cactus-about-author {
  @media (min-width: $tablet-width) {
    padding-left: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 13px;
  }
}


.sunset-likes {
  @media (min-width: $tablet-width) {
    right: 19px;
  }

  @media (min-width: $desktop-width) {
    right: 13px;
  }
}


.roads-likes {
  @media (min-width: $tablet-width) {
    right: 35px;
  }
}

.bridge-likes {
  right: 21px;

  @media (min-width: $tablet-width) {
    right: 27px;
  }

  @media (min-width: $desktop-width) {
    right: 22px;
  }
}


.all-photos-container {
  @media (min-width: $tablet-width) {
    max-width: 650px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: auto;
  }
}

.all-photos__svg {
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }
}

.all-photos__svg path {
  fill: #b2b2b2;

  @media (min-width: $desktop-width) {
    fill: #ffffff;
  }
}


.sunset-image {
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 400px;
  }
}

.cactus-image {
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    background-size: cover;
  }
}

.roads-about-author {
  @media (min-width: $tablet-width) {
    background: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    background: rgba($color: #000000, $alpha: 0.3);
    padding-left: 19px;
  }
}

.brigde-about-author {
  @media (min-width: $tablet-width) {
    padding-left: 22px;
  }
}

.all-photos__block-bridge {
  @media (min-width: $desktop-width) {
    flex-basis: 33.1%;
  }
}

.all-photos__block-roads {
  @media (min-width: $desktop-width) {
    flex-basis: 397px;
  }
}

.roads-image {
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    background-size: cover;
  }
}

.bridge-image {
  width: 280px;
  height: 280px;
  background-size: cover;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    background-size: cover;
  }
}

.doubts__text-block {
  text-align: center;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
  }
}

.doubts__title {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 27px;
  }
}

.doubts__video-block {
  margin-top: 37px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 73px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 71px;
  }
}

.doubts__description {
  max-width: 240px;
  margin: 0 auto;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    max-width: 415px;
  }
}

.doubts__video {
  width: 100%;
  height: 200px;
  background-position: bottom;

  @media (min-width: $tablet-width) {
    background-size: cover;
    width: 100%;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    background-size: cover;
    width: 100%;
    height: 500px;
  }
}

.doubts {
  min-height: 453px;
  margin-bottom: 74px;

  @media (min-width: $desktop-width) {
    margin-bottom: 112px;
  }
}

.doubts__control {
  bottom: -60px;
  position: absolute;
  text-align: center;
  right: 50%;
  transform: translateX(50%);
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 100%;
    bottom: 4px;
  }
}

.video-control__top-part {
  width: 100%;
  background: rgba($color: #000000, $alpha: 0.6);
  height: 45px;

  @media (min-width: $tablet-width) {
    height: 92px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    height: 95px;
  }
}


.video-control__range {
  width: 235px;
  height: 3px;
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  appearance: none;
  background: rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    width: 387px;
    top: 44px;
    left: 289px;
    z-index: 9;
  }

  @media (min-width: $desktop-width) {
    width: 540px;
    left: 361px;
  }
}

.video-control__bottom-part {
  width: 100%;
  height: 66px;
  display: flex;
  background: #f2f2f2;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 92px;
    position: absolute;
    background: transparent;
    bottom: 0;
  }
}

.video-replay {
  width: 50%;
  height: 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    position: absolute;
    left: 36px;
  }

  @media (min-width: $desktop-width) {
    height: 26px;
    left: 33px;
  }
}

.video-replay svg {
  padding-right: 70px;
}

.video-svg path,
.video-svg polygon {
  fill: #5c6870;

  @media (min-width: $tablet-width) {
    fill: #ffffff;
  }
}

.video-subtitles {
  width: 35%;
  height: 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    position: absolute;
    right: 93px;
  }

  @media (min-width: $desktop-width) {
    height: 27px;
  }
}

.video-fullscreen {
  height: 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    position: absolute;
    right: 42px;
  }

  @media (min-width: $desktop-width) {
    height: 24px;
  }
}

.doubts-container {
  @media (min-width: $tablet-width) {
    max-width: 650px;
    margin: auto;
    margin-bottom: -2px;
  }

  @media (min-width: $desktop-width) {
    max-width: 800px;
    margin: auto;
  }
}
