.about-photos {
  min-height: 350px;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-height: 350px;
  }

  @media (min-width: $desktop-width) {
    min-height: 500px;
  }
}

.about-photos__image {
  background: url("../../../img/bg-back-mobile@1x.jpg") center center;
  background-size: cover;
  width: 100%;
  height: 160px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    background: url("../../../img/bg-back-tablet@1x.jpg") center center;
    background-size: cover;
    height: 290px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {

    background: url("../../../img/bg-back-desktop@1x.jpg") center center;
    background-size: cover;
    height: 300px;
    margin-bottom: 100px;
  }
}

.text-sedona-svg {
  width: 229px;
  height: 39px;
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    width: 458px;
    height: 78px;
    margin-top: 90px;
  }

  @media (min-width: $desktop-width) {
    width: 461px;
    height: 80px;
  }
}

.all-photos {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
  }
}

.all-photos__comment {
  text-transform: uppercase;
  display: block;
}

.all-photos__block {
  border-top: 1px #e5e5e5 solid;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 1px #e5e5e5 solid;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }
}

.all-photos__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.all-photos__block-sunset {
  @media (min-width: $tablet-width) {
    flex-basis: 100%;
  }
}

.all-photos__about-author {
  @media (min-width: $tablet-width) {
    height: 80px;
    background: $inputs-bg-color;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-top: -80px;
    background: rgba($color: #000000, $alpha: 0.3);
    color: #ffffff;
    width: 100%;
  }
}

.all-photos__likes {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
  }
}

.all-photos-container {
  max-width: 280px;
  margin: auto;

  @media (min-width: $tablet-width) {
    max-width: 650px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: auto;
  }
}

.all-photos__image path {
  @media (min-width: $desktop-width) {
    fill: #ffffff;
  }
}


.sunset-image {
  background: url("../../../img/photo-sunset-mobile@1x.jpg") center center no-repeat;
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    background: url("../../../img/photo-sunset-tablet@1x.jpg") center center no-repeat;
    width: 648px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/photo-sunset-desktop@1x.jpg") center center no-repeat;
    width: 100%;
    height: 390px;
    background-size: cover;
  }
}

.cactus-image {
  background: url("../../../img/photo-cactus-mobile@1x.jpg") center center no-repeat;
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    background: url("../../../img/photo-cactus-tablet@1x.jpg") center center no-repeat;
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/photo-cactus-desktop@1x.jpg") center center no-repeat;
    width: 400px;
    height: 267px;
  }
}

.roads-image {
  background: url("../../../img/photo-roads-mobile@1x.jpg") center center no-repeat;
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    background: url("../../../img/photo-roads-tablet@1x.jpg") center center no-repeat;
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/photo-roads-desktop@1x.jpg") center center no-repeat;
    width: 400px;
    height: 267px;
  }
}

.bridge-image {
  background: url("../../../img/main-bridge-mobile@1x.jpg") center center no-repeat;
  width: 280px;
  height: 280px;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background: url("../../../img/main-bridge-tablet@1x.jpg") center center no-repeat;
    width: 324px;
    height: 267px;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/main-bridge-desktop@1x.jpg") center center no-repeat;
    width: 400px;
    height: 267px;
  }
}

.doubts__video {
  background: url("../../../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;

  @media (min-width: $tablet-width) {
    background: url("../../../img/video-tablet@1x.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/video-desktop@1x.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
  }
}

.doubts-container {
  @media (min-width: $tablet-width) {
    max-width: 650px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 800px;
    margin: auto;
  }
}
