.offer {
  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 52px;
  }
}


.offer__image {
  background: url("../../../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  width: 100%;
  height: 389px;
  background-position: 50%;
  position: relative;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background: url("../../../img/bg-back-mobile@2x.jpg");
    background-size: cover;
    background-position: 50%;
  }


  @media (min-width: $tablet-width) {
    background: url("../../../img/bg-back-tablet@1x.jpg") no-repeat;
    background-position: bottom;
    height: 517px;
    background-size: cover;
  }

  @media (min-width: $tablet-width) and (min-resolution: $retina-dppx) {
    background: url("../../../img/bg-back-tablet@2x.jpg");
    background-size: cover;
    background-position: bottom;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/bg-back-desktop@1x.jpg") no-repeat;
    background-size: cover;
    height: 518px;
    background-position: bottom;
  }

  @media (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
    background: url("../../../img/bg-back-desktop@2x.jpg");
    background-size: cover;
    background-position: bottom;
  }
}

.offer__image-text {
  width: 282px;
  height: 214px;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 460px;
    height: 350px;
    top: 77px;
  }
}

.offer__image-triangle {
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  background: url("../../../img/bg-intro-triangle-mobile.svg");
  height: 27px;

  @media (min-width: $tablet-width) {
    background: url("../../../img/bg-intro-triangle-tablet.svg");
    height: 57px;
    background-position: top;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/bg-intro-triangle-desktop.svg");
    background-position: top;
    background-repeat: no-repeat;
  }
}


.offer__text {
  margin-top: 40px;
  text-align: center;
  padding: 0 20px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
  }
}


.offer__description {
  max-width: 265px;
  display: inline-block;
  margin-top: 30px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    max-width: none;
    margin-top: 32px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
  }
}

// reason-one

.reason-one {
  margin-top: 9px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.reason-one-icon-wrap {
  margin-bottom: 16px;
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 33.3%;
    text-align: center;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 33.3%;
    text-align: center;
  }
}

.reason-one__text-part {
  background: $bg-color;
  position: relative;
  text-align: center;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    min-height: 250px;
    width: 33%;
    padding-bottom: 0;
  }
}

.reason-one__triangle {
  width: 100%;
  height: 35px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.reason-one__title {
  margin: 39px auto 12px auto;

  @media (min-width: $tablet-width) {
    max-width: 50%;
    margin: 47px auto 13px auto;
    padding-right: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
  }
}

.reason-one__description {
  line-height: 20px;
  margin: 18px auto 0 auto;
  max-width: 265px;

  @media (min-width: $tablet-width) {
    max-width: 68%;
    margin: 24px 0 0 35px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 7px;
  }
}

.reason-one__number {
  @media (min-width: $tablet-width) {
    margin-right: 5px;
  }
}


.reason-one__icons-part {
  height: 394px;
  padding: 22px 0 0 12px;

  @media (min-width: $tablet-width) {
    height: 270px;
    display: flex;
    padding: 60px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 0 0 0;
    height: 273px;
  }
}

.icons-part__text-wrapper {
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
  }
}

.icons-part__description {
  margin: 15px 0 0 0;
  max-width: 208px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
  }
}

.reason-one-souvenirs-wrapper {
  display: inline-flex;

  @media (min-width: $tablet-width) {
    padding-left: 13px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.icons-part__house-desc {
  @media (min-width: $tablet-width) {
    max-width: 65%;
  }

  @media (min-width: $desktop-width) {
    max-width: 67%;
  }
}

.icons-part-house {
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 11px;
    padding-top: 25px;
  }
}

.icons-part-souvenir {
  @media (min-width: $desktop-width) {
    padding-left: 11px;
  }
}

.icons-part__svg-accommodation {
  @media (min-width: $desktop-width) {
    padding-right: 12px;
  }
}

.icons-part__svg-souvenir {
  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    height: 73px;
    padding-left: 5px;
  }
}

.icons-part__gift-desc {
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    max-width: 69%;
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    max-width: 57%;
  }
}

.icons-part-food {
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
  }
}

.reason-one__accomodation-wrapper {

  display: inline-flex;

  @media (min-width: $tablet-width) {
    padding-right: 10px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.icons-part__food-desc {
  max-width: 230px;
  margin: 15px 0 0 0;

  @media (min-width: $tablet-width) {
    max-width: 62%;
    margin: 22px 0 0 47px;
  }

  @media (min-width: $desktop-width) {
    margin: 22px 0 0 56px;
    max-width: 73%;
  }
}

.reason-one__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 256px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    height: 254px;
  }
}

.reason-one__accommodation {
  @media (min-width: $tablet-width) {
    order: 0;
  }
}

.reason-one__food {
  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
    margin-right: 4px;
  }
}

.reason-one__souvenirs {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}


.reason-one__image {
  background: url("../../../img/main-city-mobile@1x.jpg") center center no-repeat;
  height: 260px;

  @media (min-resolution: $retina-dppx) {
    background: url("../../../img/main-city-mobile@2x.jpg") center center no-repeat;
  }

  @media (min-width: $tablet-width) {
    background: url("../../../img/main-city-tablet@1x.jpg");
    height: auto;
    width: 67%;
  }

  @media (min-width: $tablet-width) and (min-resolution: $retina-dppx) {
    background: url("../../../img/main-city-tablet@2x.jpg");
    height: auto;
    width: 67%;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/main-city-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
    background: url("../../../img/main-city-desktop@2x.jpg");
    background-position: center;
  }
}

.reason-icon {
  width: 40px;
  height: 36px;
  fill: #81b3d2;
  padding-top: 5px;
  margin-right: 10px;


  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    height: 75px;
    padding-top: 0;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 100%;
    height: 73px;
  }
}

.icon-souvenir {
  padding-top: 2px;
  width: 42px;
  height: 36px;
  margin-right: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    width: 61px;
    height: auto;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.icon-food {
  width: 38px;
  height: 34px;
  fill: #81b3d2;
  padding-top: 9px;
  margin-right: 12px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-top: 3px;
    height: 70px;
  }
}

.reasons-images {
  background-size: cover;
}

//reason-two

.reason-two {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
  }

  @media (min-width: $desktop-width) {
    height: 255px;
  }
}

.reason-two__title {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    max-width: 151px;
    margin: 0 auto 16px auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
    margin: 0 auto 14px auto;
  }
}

.reason-two__description {
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    max-width: 75%;
    margin: 21px auto 0 28px;
  }

  @media (min-width: $desktop-width) {
    max-width: 62%;
    margin: 22px auto 0 auto;
  }
}

.reason-two__text-part {
  background: $bg-color;
  min-height: 148px;
  padding: 42px 20px 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    background: $bg-color;
    height: 212px;
    width: 29%;
    padding: 45px 12px 0 18px;
  }

  @media (min-width: $desktop-width) {
    width: 31%;
    padding: 45px 15px 0 20px;
  }
}

.reason-two__image {
  background: url("../../../img/main-bridge-mobile@1x.jpg") center center no-repeat;
  height: 260px;
  background-size: cover;

  @media (min-resolution: $retina-dppx) {
    background: url("../../../img/main-bridge-mobile@2x.jpg") center center no-repeat;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    background: url("../../../img/main-bridge-tablet@1x.jpg");
    width: 68%;
    background-position: right;
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
  }

  @media (min-width: $tablet-width) and (min-resolution: $retina-dppx) {
    background: url("../../../img/main-bridge-tablet@2x.jpg") no-repeat;
    width: 68%;
    background-position: right;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/main-bridge-desktop@1x.jpg") no-repeat;
    width: 69%;
    background-position: center -76px;
    background-size: cover;
  }

  @media (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
    background: url("../../../img/main-bridge-desktop@2x.jpg") no-repeat;
    width: 69%;
    background-position-y: center;
    background-size: cover;
  }
}

//reason-3, reason-4, reason-5

.reason-three-four-five-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    height: 257px;
  }
}

.reason-three__wrapper {
  @media (min-width: $tablet-width) {
    padding-right: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 15px;
  }
}

.reason-five__wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 15px;
  }
}

.reason-three {
  padding-top: 32px;
}

.reason-three__title {
  margin-bottom: 12px;
}

.reason-three__description {
  max-width: 80%;
  margin: 16px auto 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 70%;
    margin-top: 23px;
  }

  @media (min-width: $desktop-width) {
    max-width: 76%;
    margin-top: 25px;
  }
}


.reason-four {
  padding-top: 18px;
}

.reason-four__title {
  margin-bottom: 12px;

  @media (min-width: $desktop-width) {
    width: 45%;
  }
}

.reason-four__description {
  max-width: 80%;
  margin: 16px auto 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 52%;
    margin-top: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 25px;
    max-width: 66%;
  }
}

.reason-five__title {
  padding-top: 16px;
  width: 28%;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.reason-five__description {
  max-width: 82%;
  margin: 16px auto 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 63%;
    margin-top: 22px;
    padding-right: 4px;
  }

  @media (min-width: $desktop-width) {
    max-width: 69%;
    margin-top: 22px;
  }
}

.reasons-title {
  width: 100%;
  margin: 0 auto 12px auto;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
    margin-top: 1px;
  }
}

.reason-three,
.reason-four,
.reason-five {
  background: #eeeeee;
  min-height: 150px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 33.3%;
    padding-top: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 44px;
  }
}

.reason-five {
  height: 155px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    padding-right: 1px;
  }
}

// end of the reasons

.interested {
  margin-bottom: 35px;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.interested__map {
  background: url("../../../img/bg-map-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  position: relative;

  @media (min-resolution: $retina-dppx) {
    background: url("../../../img/bg-map-mobile@2x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    background: url("../../../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-width: $tablet-width) and (min-resolution: $retina-dppx) {
    background: url("../../../img/bg-map-tablet@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    background: url("../../../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
  }

  @media (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
    background: url("../../../img/bg-map-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
  }

  &::after {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    border: 5px #ffffff solid;
    background-color: #81b3d2;
    border-radius: 50%;
  }
}


.interested__find-hotel {
  text-align: center;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.interested__button {
  display: block;
  margin: 34px auto 47px auto;

  @media (min-width: $tablet-width) {
    margin: 42px auto 57px auto;
    padding: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 48px auto 67px auto;
  }
}

.interested__title {
  font-size: 21px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.interested__description {
  margin: 24px auto 0 auto;
  max-width: 263px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
    max-width: 447px;
  }
}
