/*page-header.scss не положил в папку Index и photo, потому что footer и header у них одинаковые.
 А если положить в каждый блок этот файл, то я нарушу критерий "не писать одинаковый код несколько раз"
*/

.page-header {
  background-color: $bg-color;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
}

.top-menu {
  background-color: #ffffff;
}
