.copyright {
  &__image {
    width: 27px;
    height: 34px;
  }

  &__text {
    font-size: 14px;
    color: #000000;
  }
}

.page-footer__visit-sedona-slogan {
  font-size: 21px;
  font-weight: 700;
}

.social-media-list__item {
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
  }
}
