body {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

.title {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.description {
  color: $main-text-color;
  font-size: 14px;
  text-transform: uppercase;
}

.reason-number {
  color: $main-text-color;
  font-size: 14px;
}

.white-color {
  color: #ffffff;
}

.main-btn {
  display: block;
  color: #ffffff;
  border: none;
  background: $bg-color;
  font-size: 21px;
  text-transform: uppercase;
  padding: 18px 47px;
  font-weight: bold;
}

.person-contacts-description {
  text-transform: uppercase;
  font-size: 14px;
  color: $main-text-color;
  font-weight: normal;
}

.page-label {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}
