* {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.title {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}

.description {
  color: #333333;
  font-size: 14px;
}

.reason-number {
  color: #333333;
  font-size: 14px;
}

.white-color {
  color: #ffffff;
}
